*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #eeeff1;
    max-width: 1400px;
    margin: 0 auto;
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px; 
   padding: 0 50px;

   .heading a{
        color: #1a1c20;
        font-size: 22px;
        text-decoration: none;
        font-weight: 600;
   }

   .socialMediaSection a{
        text-decoration: none;
        color: #1a1c20;
        margin: 0 10px;
        span{
            margin-left: 5px;
            
        }
   }

   .emailBtn{
            padding: 5px 15px;
            border-radius: 5px;
            color: #eeeff1 !important;
            background-color: #1a1c20;
        }
}


/* hero section styling */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0 100px 0;
    gap: 40px;

    .content{
        flex: 5;

        h2{
            font-size: 45px;
        }

        .link{
            margin-top: 25px;


            a{
                padding: 5px 10px;
                border: 2px solid #4a76ee;
                border-radius: 5px;
                margin-right: 10px;
                margin-bottom: 10px;
                transition: .1s;
                text-decoration: none;
                color: #4a76ee;
            }
        }
    }

    .img{
        width: 350px;
          
    }
}